# Set "NOTIFY_EMAIL=..." in /etc/systemd/notify.conf
[Unit]
Description=send email notification after reboot
DefaultDependencies=no
After=network.target

[Service]
Type=oneshot
EnvironmentFile=/etc/systemd/system/notify.conf
ExecStart=/usr/local/bin/email_when_reboot.sh

[Install]
WantedBy=multi-user.target
