[Unit]
Description=Logs Tellstick sensors
OnFailure=notify_service_status@%n.service

[Service]
Type=simple
ExecStart=/usr/lib/virtualenv/telldus/bin/tellstick_logger --csvpath /var/lib/tellsticklogger

[Install]
WantedBy=multi-user.target
