[Unit]
Description=fetching data from database and update plots at Plot.ly
OnFailure=notify_service_status@%n.service

[Service]
Type=simple
ExecStart=/usr/lib/virtualenv/tellsticklogger/bin/tellstick_csv_to_plotly --csvpath /var/lib/tellsticklogger

[Install]
WantedBy=multi-user.target
